.whole_div {
  font-family: Petit Formal Script;
  overflow-y: hidden;
}

.nav_bar {
  position: fixed;
  z-index: 9999;
  width: 100%;
  min-height: 56px;
  display: flex;
  align-items: center;
  background-color: rgb(164, 236, 236);
  color: black;
  padding-left: 10px;
  padding-right: 10px;
}
.nav_bar .nav a {
  margin-left: 20px;
  color: black;
  text-decoration: none;
  font-family: Verdana;
}
.logo {
  padding-left: 10px;
}
.humburger_icon {
  line-height: 56px;
}
.parent_div {
  display: flex;
  position: relative;
}

.side_bar {
  width: 200px;
  height: 100%;
  margin-top: 56px;
  position: fixed;
  color: black;
  text-decoration: none;
  border-right: 1px solid black;
  background-color: white;
}

.side_bar a {
  color: black;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main_section {
  width: 100%;
  margin-left: 200px;
  padding: 10px;
  margin-top: 56px;
  text-align: justify;
}
@media screen and (max-width: 450px) {
  .nav_bar {
    justify-content: space-between;
    align-items: flex-start;
  }
  .nav_bar .nav {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 10px;
  }
  .nav_bar .nav a {
    margin-top: 10px;
    margin-left: 0px;
  }
  .side_bar {
    width: 100%;
    top: 0;
    position: absolute;
    height: 100%;
    transition: all 2s ease-in-out;
    border-right: none;
  }

  .main_section {
    margin-left: 0;
  }
}
